@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Mulish&family=Source+Sans+Pro:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}
.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color: #666;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color: rgb(47, 214, 122);
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}

.fa-trash-alt,
.fa-edit {
  cursor: pointer;
  pointer-events: auto;
  margin-top: 15px;
  z-index: 10;
  transition: color 0.15s linear;
  font-size: 3rem;
}
.fa-edit {
  margin-left: -5.5rem;
}
.addItemDiv {
  box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 20%);
  background-color: #f1f3f6;
  height: 8px;
  border: 1px solid #f0f0f0;
}
.addItem {
  font-size: 20px;
  color: #2874f0;
  font-weight: 500;
  padding: 16px 0;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}
.addItem .fa {
  margin-left: 0 !important;
  margin: 0 22px 0 26px;
  vertical-align: middle;
}
.fa-edit:hover {
  color: rgb(100, 214, 47);
}
.fa-trash-alt:hover {
  color: rgb(214, 47, 61);
}
