@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#container {
  height: 100%;
}
.main-div {
  margin: 0 auto;
  min-width: 1128px;
  display: flex;
  justify-content: center;
}
.center-div {
  margin-top: 20px;
  display: inline;
  align-items: flex-start;
}
.card-main {
  display: flex;
  align-items: flex-start;
}
.center-card {
  margin-bottom: 16px;
  position: relative;
  display: inline;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.card {
  padding: 16px 24px;
  min-height: 72px;
  display: flex;
  width: 800px;
  flex-direction: row !important;
  align-items: flex-start;
}
#container h3 {
  height: 48px;
  text-transform: uppercase;
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  border-radius: 2px 2px 0 0;
}
.number {
  font-size: 12px;
  color: #2874f0;
  background-color: #f0f0f0;
  border-radius: 2px;
  padding: 3px 7px;
  vertical-align: baseline;
  margin-right: 17px;
}
.address {
  display: inline-block;
  width: 600px;
}
.address .delivery {
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.address .delivery svg {
  vertical-align: top;
  height: 20px;
  margin-left: 8px;
}
.sub-address {
  font-size: 14px;
  max-width: 630px;
}
.name {
  color: #212121;
  font-weight: 500;
}
.pinCode {
  font-weight: 500;
}

#container a {
  background: #189cf0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: #fff !important;
  transition: 0.2s all;
  padding: 14px 40px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5rem;
  width: 40% !important;
  margin-right: 0 !important;
  cursor: pointer;
  text-transform: uppercase;
}
.navlink {
  margin-top: 300px;
  margin-left: 500px !important;
  /* margin: auto auto; */
  border-radius: 40px !important;
}
.box {
  margin: auto auto !important;
  margin-top: 22% !important;
}
#container a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0 !important;
}
@media only screen and (max-width: 978px) {
  .center-card {
    width: 754px;
  }
  #container a {
    width: 80% !important;
  }
}
